.top-container{
  background-color: aqua;  
  margin-bottom: 10px;
}
body{
    margin: 0px;
    text-align: center;
}
h1{
    margin: 0;
}
.middle-container{
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottom-container{
    height: 200px;
    width: 200px;
    background-color: blue;
}
.pro{
    text-decoration: underline;
}